# Exploring and Processing Data

In [19]:
#imports
import pandas as pd
import numpy as np
import os
#import matplotlib

In [ ]:
#!pip install pandas
#!pip install numpy
!pip install matplotlib

## import data

In [20]:
#set the path of the raw data
raw_data_path=os.path.join(os.path.pardir,'data','raw')
train_data_path=os.path.join(raw_data_path,'train.csv')
test_data_path=os.path.join(raw_data_path,'test.csv')

In [21]:
#read the data with all parameters
train_df=pd.read_csv(train_data_path,index_col='PassengerId')
test_df=pd.read_csv(test_data_path,index_col='PassengerId')

In [22]:
#get the type
type(train_df)

pandas.core.frame.DataFrame

## Basic structure

In [7]:
#use .info() to get breif information about the dataframe
train_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 891 entries, 1 to 891
Data columns (total 11 columns):
Survived    891 non-null int64
Pclass      891 non-null int64
Name        891 non-null object
Sex         891 non-null object
Age         714 non-null float64
SibSp       891 non-null int64
Parch       891 non-null int64
Ticket      891 non-null object
Fare        891 non-null float64
Cabin       204 non-null object
Embarked    889 non-null object
dtypes: float64(2), int64(4), object(5)
memory usage: 66.1+ KB

In [8]:
test_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 418 entries, 892 to 1309
Data columns (total 10 columns):
Pclass      418 non-null int64
Name        418 non-null object
Sex         418 non-null object
Age         332 non-null float64
SibSp       418 non-null int64
Parch       418 non-null int64
Ticket      418 non-null object
Fare        417 non-null float64
Cabin       91 non-null object
Embarked    418 non-null object
dtypes: float64(2), int64(3), object(5)
memory usage: 27.8+ KB

In [9]:
test_df['Survived']=-888#Adding survived with a default value

In [10]:
df=pd.concat((train_df,test_df))

C:\Users\ajaysharma\AppData\Local\Programs\Python\Python37-32\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1309 entries, 1 to 1309
Data columns (total 11 columns):
Age         1046 non-null float64
Cabin       295 non-null object
Embarked    1307 non-null object
Fare        1308 non-null float64
Name        1309 non-null object
Parch       1309 non-null int64
Pclass      1309 non-null int64
Sex         1309 non-null object
SibSp       1309 non-null int64
Survived    1309 non-null int64
Ticket      1309 non-null object
dtypes: float64(2), int64(4), object(5)
memory usage: 97.2+ KB

In [10]:
#use .head() to get top 5 rows
df.head()

,Age,Cabin,Embarked,Fare,Name,Parch,Pclass,Sex,SibSp,Survived,Ticket
PassengerId,,,,,,,,,,,
1,22.0,NaN,S,7.2500,"Braund, Mr. Owen Harris",0,3,male,1,0,A/5 21171
2,38.0,C85,C,71.2833,"Cumings, Mrs. John Bradley (Florence Briggs Th...",0,1,female,1,1,PC 17599
3,26.0,NaN,S,7.9250,"Heikkinen, Miss. Laina",0,3,female,0,1,STON/O2. 3101282
4,35.0,C123,S,53.1000,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",0,1,female,1,1,113803
5,35.0,NaN,S,8.0500,"Allen, Mr. William Henry",0,3,male,0,0,373450

In [12]:
#use .head(n) to get top n rows
df.head(10)

,Age,Cabin,Embarked,Fare,Name,Parch,Pclass,Sex,SibSp,Survived,Ticket
PassengerId,,,,,,,,,,,
1,22.0,NaN,S,7.2500,"Braund, Mr. Owen Harris",0,3,male,1,0,A/5 21171
2,38.0,C85,C,71.2833,"Cumings, Mrs. John Bradley (Florence Briggs Th...",0,1,female,1,1,PC 17599
3,26.0,NaN,S,7.9250,"Heikkinen, Miss. Laina",0,3,female,0,1,STON/O2. 3101282
4,35.0,C123,S,53.1000,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",0,1,female,1,1,113803
5,35.0,NaN,S,8.0500,"Allen, Mr. William Henry",0,3,male,0,0,373450
6,NaN,NaN,Q,8.4583,"Moran, Mr. James",0,3,male,0,0,330877
7,54.0,E46,S,51.8625,"McCarthy, Mr. Timothy J",0,1,male,0,0,17463
8,2.0,NaN,S,21.0750,"Palsson, Master. Gosta Leonard",1,3,male,3,0,349909
9,27.0,NaN,S,11.1333,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",2,3,female,0,1,347742
10,14.0,NaN,C,30.0708,"Nasser, Mrs. Nicholas (Adele Achem)",0,2,female,1,1,237736

In [13]:
#use .tail() to get last 5 rows
df.tail()

,Age,Cabin,Embarked,Fare,Name,Parch,Pclass,Sex,SibSp,Survived,Ticket
PassengerId,,,,,,,,,,,
1305,NaN,NaN,S,8.0500,"Spector, Mr. Woolf",0,3,male,0,-888,A.5. 3236
1306,39.0,C105,C,108.9000,"Oliva y Ocana, Dona. Fermina",0,1,female,0,-888,PC 17758
1307,38.5,NaN,S,7.2500,"Saether, Mr. Simon Sivertsen",0,3,male,0,-888,SOTON/O.Q. 3101262
1308,NaN,NaN,S,8.0500,"Ware, Mr. Frederick",0,3,male,0,-888,359309
1309,NaN,NaN,C,22.3583,"Peter, Master. Michael J",1,3,male,1,-888,2668

In [13]:
#column selection using dot
df.Name

PassengerId
1                                 Braund, Mr. Owen Harris
2       Cumings, Mrs. John Bradley (Florence Briggs Th...
3                                  Heikkinen, Miss. Laina
4            Futrelle, Mrs. Jacques Heath (Lily May Peel)
5                                Allen, Mr. William Henry
6                                        Moran, Mr. James
7                                 McCarthy, Mr. Timothy J
8                          Palsson, Master. Gosta Leonard
9       Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
10                    Nasser, Mrs. Nicholas (Adele Achem)
11                        Sandstrom, Miss. Marguerite Rut
12                               Bonnell, Miss. Elizabeth
13                         Saundercock, Mr. William Henry
14                            Andersson, Mr. Anders Johan
15                   Vestrom, Miss. Hulda Amanda Adolfina
16                       Hewlett, Mrs. (Mary D Kingcome)
17                                   Rice, Master. Eugene
18                           Williams, Mr. Charles Eugene
19      Vander Planke, Mrs. Julius (Emelia Maria Vande...
20                                Masselmani, Mrs. Fatima
21                                   Fynney, Mr. Joseph J
22                                  Beesley, Mr. Lawrence
23                            McGowan, Miss. Anna "Annie"
24                           Sloper, Mr. William Thompson
25                          Palsson, Miss. Torborg Danira
26      Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...
27                                Emir, Mr. Farred Chehab
28                         Fortune, Mr. Charles Alexander
29                          O'Dwyer, Miss. Ellen "Nellie"
30                                    Todoroff, Mr. Lalio
                              ...
1280                                 Canavan, Mr. Patrick
1281                          Palsson, Master. Paul Folke
1282                           Payne, Mr. Vivian Ponsonby
1283       Lines, Mrs. Ernest H (Elizabeth Lindsey James)
1284                        Abbott, Master. Eugene Joseph
1285                                 Gilbert, Mr. William
1286                             Kink-Heilmann, Mr. Anton
1287       Smith, Mrs. Lucien Philip (Mary Eloise Hughes)
1288                                 Colbert, Mr. Patrick
1289    Frolicher-Stehli, Mrs. Maxmillian (Margaretha ...
1290                       Larsson-Rondberg, Mr. Edvard A
1291                             Conlon, Mr. Thomas Henry
1292                              Bonnell, Miss. Caroline
1293                                      Gale, Mr. Harry
1294                       Gibson, Miss. Dorothy Winifred
1295                               Carrau, Mr. Jose Pedro
1296                         Frauenthal, Mr. Isaac Gerald
1297         Nourney, Mr. Alfred (Baron von Drachstedt")"
1298                            Ware, Mr. William Jeffery
1299                           Widener, Mr. George Dunton
1300                      Riordan, Miss. Johanna Hannah""
1301                            Peacock, Miss. Treasteall
1302                               Naughton, Miss. Hannah
1303      Minahan, Mrs. William Edward (Lillian E Thorpe)
1304                       Henriksson, Miss. Jenny Lovisa
1305                                   Spector, Mr. Woolf
1306                         Oliva y Ocana, Dona. Fermina
1307                         Saether, Mr. Simon Sivertsen
1308                                  Ware, Mr. Frederick
1309                             Peter, Master. Michael J
Name: Name, Length: 1309, dtype: object

In [14]:
#selecting using column name as string
df['Name']

PassengerId
1                                 Braund, Mr. Owen Harris
2       Cumings, Mrs. John Bradley (Florence Briggs Th...
3                                  Heikkinen, Miss. Laina
4            Futrelle, Mrs. Jacques Heath (Lily May Peel)
5                                Allen, Mr. William Henry
6                                        Moran, Mr. James
7                                 McCarthy, Mr. Timothy J
8                          Palsson, Master. Gosta Leonard
9       Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
10                    Nasser, Mrs. Nicholas (Adele Achem)
11                        Sandstrom, Miss. Marguerite Rut
12                               Bonnell, Miss. Elizabeth
13                         Saundercock, Mr. William Henry
14                            Andersson, Mr. Anders Johan
15                   Vestrom, Miss. Hulda Amanda Adolfina
16                       Hewlett, Mrs. (Mary D Kingcome)
17                                   Rice, Master. Eugene
18                           Williams, Mr. Charles Eugene
19      Vander Planke, Mrs. Julius (Emelia Maria Vande...
20                                Masselmani, Mrs. Fatima
21                                   Fynney, Mr. Joseph J
22                                  Beesley, Mr. Lawrence
23                            McGowan, Miss. Anna "Annie"
24                           Sloper, Mr. William Thompson
25                          Palsson, Miss. Torborg Danira
26      Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...
27                                Emir, Mr. Farred Chehab
28                         Fortune, Mr. Charles Alexander
29                          O'Dwyer, Miss. Ellen "Nellie"
30                                    Todoroff, Mr. Lalio
                              ...
1280                                 Canavan, Mr. Patrick
1281                          Palsson, Master. Paul Folke
1282                           Payne, Mr. Vivian Ponsonby
1283       Lines, Mrs. Ernest H (Elizabeth Lindsey James)
1284                        Abbott, Master. Eugene Joseph
1285                                 Gilbert, Mr. William
1286                             Kink-Heilmann, Mr. Anton
1287       Smith, Mrs. Lucien Philip (Mary Eloise Hughes)
1288                                 Colbert, Mr. Patrick
1289    Frolicher-Stehli, Mrs. Maxmillian (Margaretha ...
1290                       Larsson-Rondberg, Mr. Edvard A
1291                             Conlon, Mr. Thomas Henry
1292                              Bonnell, Miss. Caroline
1293                                      Gale, Mr. Harry
1294                       Gibson, Miss. Dorothy Winifred
1295                               Carrau, Mr. Jose Pedro
1296                         Frauenthal, Mr. Isaac Gerald
1297         Nourney, Mr. Alfred (Baron von Drachstedt")"
1298                            Ware, Mr. William Jeffery
1299                           Widener, Mr. George Dunton
1300                      Riordan, Miss. Johanna Hannah""
1301                            Peacock, Miss. Treasteall
1302                               Naughton, Miss. Hannah
1303      Minahan, Mrs. William Edward (Lillian E Thorpe)
1304                       Henriksson, Miss. Jenny Lovisa
1305                                   Spector, Mr. Woolf
1306                         Oliva y Ocana, Dona. Fermina
1307                         Saether, Mr. Simon Sivertsen
1308                                  Ware, Mr. Frederick
1309                             Peter, Master. Michael J
Name: Name, Length: 1309, dtype: object

In [15]:
#selecting multiple columns using list of column name string
df[['Name','Age']]

                                                          Name   Age
PassengerId
1                                      Braund, Mr. Owen Harris  22.0
2            Cumings, Mrs. John Bradley (Florence Briggs Th...  38.0
3                                       Heikkinen, Miss. Laina  26.0
4                 Futrelle, Mrs. Jacques Heath (Lily May Peel)  35.0
5                                     Allen, Mr. William Henry  35.0
6                                             Moran, Mr. James   NaN
7                                      McCarthy, Mr. Timothy J  54.0
8                               Palsson, Master. Gosta Leonard   2.0
9            Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)  27.0
10                         Nasser, Mrs. Nicholas (Adele Achem)  14.0
11                             Sandstrom, Miss. Marguerite Rut   4.0
12                                    Bonnell, Miss. Elizabeth  58.0
13                              Saundercock, Mr. William Henry  20.0
14                                 Andersson, Mr. Anders Johan  39.0
15                        Vestrom, Miss. Hulda Amanda Adolfina  14.0
16                            Hewlett, Mrs. (Mary D Kingcome)   55.0
17                                        Rice, Master. Eugene   2.0
18                                Williams, Mr. Charles Eugene   NaN
19           Vander Planke, Mrs. Julius (Emelia Maria Vande...  31.0
20                                     Masselmani, Mrs. Fatima   NaN
21                                        Fynney, Mr. Joseph J  35.0
22                                       Beesley, Mr. Lawrence  34.0
23                                 McGowan, Miss. Anna "Annie"  15.0
24                                Sloper, Mr. William Thompson  28.0
25                               Palsson, Miss. Torborg Danira   8.0
26           Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...  38.0
27                                     Emir, Mr. Farred Chehab   NaN
28                              Fortune, Mr. Charles Alexander  19.0
29                               O'Dwyer, Miss. Ellen "Nellie"   NaN
30                                         Todoroff, Mr. Lalio   NaN
...                                                        ...   ...
1280                                      Canavan, Mr. Patrick  21.0
1281                               Palsson, Master. Paul Folke   6.0
1282                                Payne, Mr. Vivian Ponsonby  23.0
1283            Lines, Mrs. Ernest H (Elizabeth Lindsey James)  51.0
1284                             Abbott, Master. Eugene Joseph  13.0
1285                                      Gilbert, Mr. William  47.0
1286                                  Kink-Heilmann, Mr. Anton  29.0
1287            Smith, Mrs. Lucien Philip (Mary Eloise Hughes)  18.0
1288                                      Colbert, Mr. Patrick  24.0
1289         Frolicher-Stehli, Mrs. Maxmillian (Margaretha ...  48.0
1290                            Larsson-Rondberg, Mr. Edvard A  22.0
1291                                  Conlon, Mr. Thomas Henry  31.0
1292                                   Bonnell, Miss. Caroline  30.0
1293                                           Gale, Mr. Harry  38.0
1294                            Gibson, Miss. Dorothy Winifred  22.0
1295                                    Carrau, Mr. Jose Pedro  17.0
1296                              Frauenthal, Mr. Isaac Gerald  43.0
1297              Nourney, Mr. Alfred (Baron von Drachstedt")"  20.0
1298                                 Ware, Mr. William Jeffery  23.0
1299                                Widener, Mr. George Dunton  50.0
1300                           Riordan, Miss. Johanna Hannah""   NaN
1301                                 Peacock, Miss. Treasteall   3.0
1302                                    Naughton, Miss. Hannah   NaN
1303           Minahan, Mrs. William Edward (Lillian E Thorpe)  37.0
1304                            Henriksson, Miss. Jenny Lovisa  28.0
1305                                        Spector, Mr. Woolf   NaN
1306                              Oliva y Ocana, Dona. Fermina  39.0
1307                              Saether, Mr. Simon Sivertsen  38.5
1308                                       Ware, Mr. Frederick   NaN
1309                                  Peter, Master. Michael J   NaN

[1309 rows x 2 columns]

In [16]:
#indexing : use loc for label based indexing
#all columns
df.loc[5:10,]

,Age,Cabin,Embarked,Fare,Name,Parch,Pclass,Sex,SibSp,Survived,Ticket
PassengerId,,,,,,,,,,,
5,35.0,NaN,S,8.0500,"Allen, Mr. William Henry",0,3,male,0,0,373450
6,NaN,NaN,Q,8.4583,"Moran, Mr. James",0,3,male,0,0,330877
7,54.0,E46,S,51.8625,"McCarthy, Mr. Timothy J",0,1,male,0,0,17463
8,2.0,NaN,S,21.0750,"Palsson, Master. Gosta Leonard",1,3,male,3,0,349909
9,27.0,NaN,S,11.1333,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",2,3,female,0,1,347742
10,14.0,NaN,C,30.0708,"Nasser, Mrs. Nicholas (Adele Achem)",0,2,female,1,1,237736

In [17]:
#selecting column range
df.loc[5:10,'Age':'Pclass']

,Age,Cabin,Embarked,Fare,Name,Parch,Pclass
PassengerId,,,,,,,
5,35.0,NaN,S,8.0500,"Allen, Mr. William Henry",0,3
6,NaN,NaN,Q,8.4583,"Moran, Mr. James",0,3
7,54.0,E46,S,51.8625,"McCarthy, Mr. Timothy J",0,1
8,2.0,NaN,S,21.0750,"Palsson, Master. Gosta Leonard",1,3
9,27.0,NaN,S,11.1333,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",2,3
10,14.0,NaN,C,30.0708,"Nasser, Mrs. Nicholas (Adele Achem)",0,2

In [18]:
#selecting discrete columns
df.loc[5:10,['Survived','Fare','Embarked']]

             Survived     Fare Embarked
PassengerId
5                   0   8.0500        S
6                   0   8.4583        Q
7                   0  51.8625        S
8                   0  21.0750        S
9                   1  11.1333        S
10                  1  30.0708        C

In [19]:
#indexing : use iloc for position based indexing
df.iloc[5:10,3:8]

,Fare,Name,Parch,Pclass,Sex
PassengerId,,,,,
6,8.4583,"Moran, Mr. James",0,3,male
7,51.8625,"McCarthy, Mr. Timothy J",0,1,male
8,21.0750,"Palsson, Master. Gosta Leonard",1,3,male
9,11.1333,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",2,3,female
10,30.0708,"Nasser, Mrs. Nicholas (Adele Achem)",0,2,female

In [20]:
#filter row based on the condition
male_passangers=df.loc[df.Sex=='male',:]
print('Number of male passangers : {0}'.format(len(male_passangers)))

Number of male passangers : 843

In [21]:
#use & or | operators to build complex logic
male_passangers_first_class=df.loc[((df.Sex=='male') &(df.Pclass==1)),:]
print('Number of male passangers in first class: {0}'.format(len(male_passangers_first_class)))

Number of male passangers in first class: 179

## Sumary Statistics

In [22]:
#use .describe() to get statistics for all numeric columns
df.describe()

,Age,Fare,Parch,Pclass,SibSp,Survived
count,1046.000000,1308.000000,1309.000000,1309.000000,1309.000000,1309.000000
mean,29.881138,33.295479,0.385027,2.294882,0.498854,-283.301757
std,14.413493,51.758668,0.865560,0.837836,1.041658,414.337413
min,0.170000,0.000000,0.000000,1.000000,0.000000,-888.000000
25%,21.000000,7.895800,0.000000,2.000000,0.000000,-888.000000
50%,28.000000,14.454200,0.000000,3.000000,0.000000,0.000000
75%,39.000000,31.275000,0.000000,3.000000,1.000000,1.000000
max,80.000000,512.329200,9.000000,3.000000,8.000000,1.000000

In [23]:
#numerical feature
#centrality measures
print('Mean fare : {0}'.format(df.Fare.mean()))#mean
print('Median fare : {0}'.format(df.Fare.median()))#median

Mean fare : 33.29547928134557
Median fare : 14.4542

In [24]:
#dispersion measures
print('Min fare : {0}'.format(df.Fare.min()))#minimum
print('Max fare : {0}'.format(df.Fare.max()))#maximum
print('Fare range : {0}'.format(df.Fare.max()-df.Fare.min()))#range
print('25 percentile : {0}'.format(df.Fare.quantile(.25)))#25 percentile
print('50 percentile : {0}'.format(df.Fare.quantile(.50)))#50 percentile
print('75 percentile : {0}'.format(df.Fare.quantile(.75)))#75 percentile
print('Variance fare : {0}'.format(df.Fare.var()))#variance
print('Standard deviation fare : {0}'.format(df.Fare.std()))#standard deviation

Min fare : 0.0
Max fare : 512.3292
Fare range : 512.3292
25 percentile : 7.8958
50 percentile : 14.4542
75 percentile : 31.275
Variance fare : 2678.959737892891
Standard deviation fare : 51.75866823917411

In [25]:
%matplotlib inline

ModuleNotFoundError: No module named 'matplotlib'

In [26]:
#box-whisker plot
df.Fare.plot(kind='box')

ModuleNotFoundError: No module named 'matplotlib'

In [27]:
#use .describe(include='all') to get statistics for all columns including non-numeric ones
df.describe(include='all')

,Age,Cabin,Embarked,Fare,Name,Parch,Pclass,Sex,SibSp,Survived,Ticket
count,1046.000000,295,1307,1308.000000,1309,1309.000000,1309.000000,1309,1309.000000,1309.000000,1309
unique,NaN,186,3,NaN,1307,NaN,NaN,2,NaN,NaN,929
top,NaN,C23 C25 C27,S,NaN,"Kelly, Mr. James",NaN,NaN,male,NaN,NaN,CA. 2343
freq,NaN,6,914,NaN,2,NaN,NaN,843,NaN,NaN,11
mean,29.881138,NaN,NaN,33.295479,NaN,0.385027,2.294882,NaN,0.498854,-283.301757,NaN
std,14.413493,NaN,NaN,51.758668,NaN,0.865560,0.837836,NaN,1.041658,414.337413,NaN
min,0.170000,NaN,NaN,0.000000,NaN,0.000000,1.000000,NaN,0.000000,-888.000000,NaN
25%,21.000000,NaN,NaN,7.895800,NaN,0.000000,2.000000,NaN,0.000000,-888.000000,NaN
50%,28.000000,NaN,NaN,14.454200,NaN,0.000000,3.000000,NaN,0.000000,0.000000,NaN
75%,39.000000,NaN,NaN,31.275000,NaN,0.000000,3.000000,NaN,1.000000,1.000000,NaN
max,80.000000,NaN,NaN,512.329200,NaN,9.000000,3.000000,NaN,8.000000,1.000000,NaN

In [28]:
#categorical column : Counts
df.Sex.value_counts()

male      843
female    466
Name: Sex, dtype: int64

In [29]:
#categorical column : Proportions
df.Sex.value_counts(normalize=True)

male      0.644003
female    0.355997
Name: Sex, dtype: float64

In [30]:
#apply on other columns
df[df.Survived!=-888].Survived.value_counts()

0    549
1    342
Name: Survived, dtype: int64

In [31]:
#Count : Passanger class
df.Pclass.value_counts()

3    709
1    323
2    277
Name: Pclass, dtype: int64

In [32]:
#visualize counts
df.Pclass.value_counts().plot(kind='bar')

ModuleNotFoundError: No module named 'matplotlib'

In [33]:
#title: to set title,color: to set color, rot: to rotate labels
df.Pclass.value_counts().plot(kind='bar',rot=0,title='Class wise passanger count',color='c');

ModuleNotFoundError: No module named 'matplotlib'

## Distributions

In [34]:
#use hist to create histogram
df.Age.plot(kind='hist',title='histogram for Age',color='c');

ModuleNotFoundError: No module named 'matplotlib'

In [35]:
#use bins to add or remove bins
df.Age.plot(kind='hist',title='histogram for Age',color='c',bins=20);

ModuleNotFoundError: No module named 'matplotlib'

In [36]:
#use kde for density plot
df.Age.plot(kind='kde',title='Density plot for Age',color='c');

ModuleNotFoundError: No module named 'matplotlib'

In [37]:
#histogram for fare
df.Fare.plot(kind='hist',title='histogram for Fare',color='c',bins=20);

ModuleNotFoundError: No module named 'matplotlib'

In [38]:
print('skewness for age : {0:.2f}'.format(df.Age.skew()))
print('skewness for fare : {0:.2f}'.format(df.Fare.skew()))

skewness for age : 0.41
skewness for fare : 4.37

In [39]:
#use scatter plot for bi-variate distribution
df.plot.scatter(x='Age',y='Fare',color='c',title='scatter plot : Age vs Fare');

ImportError: matplotlib is required for plotting.

In [ ]:
#use alpha to set the transparency
df.plot.scatter(x='Age',y='Fare',color='c',title='scatter plot : Age vs Fare',alpha=0.1);

In [ ]:
df.plot.scatter(x='Pclass',y='Fare',color='c',title='scatter plot : Passanger class vs Fare',alpha=0.15);

## Grouping and Aggregation

In [42]:
#group by
df.groupby('Sex').Age.median()

Sex
female    27.0
male      28.0
Name: Age, dtype: float64

In [43]:
#group by
df.groupby(['Pclass']).Fare.median()

Pclass
1    60.0000
2    15.0458
3     8.0500
Name: Fare, dtype: float64

In [44]:
df.groupby(['Pclass']).Age.median()

Pclass
1    39.0
2    29.0
3    24.0
Name: Age, dtype: float64

In [45]:
df.groupby(['Pclass'])['Fare','Age'].median()

           Fare   Age
Pclass
1       60.0000  39.0
2       15.0458  29.0
3        8.0500  24.0

In [46]:
df.groupby(['Pclass']).agg({'Fare':'mean','Age':'median'})

             Fare   Age
Pclass
1       87.508992  39.0
2       21.179196  29.0
3       13.302889  24.0

In [49]:
#more complicated aggregations
aggregations={
    'Fare':{#work on the "Fare" column
        'mean_Fare':'mean',#get the mean fare
        'median_Fare':'median',#get the median fare
        'max_Fare':max,
        'min_Fare':np.min
    },
    'Age':{#work on the "Age" column
        'median_Age':'median',#find the max,call the result 'max_date'
        'min_Age':min,
        'max_Age':max,
        'range_Age':lambda x:max(x)-min(x)#calculate the age range per group
    }
}

In [50]:
df.groupby(['Pclass']).agg(aggregations)

C:\Users\ajaysharma\AppData\Local\Programs\Python\Python37-32\lib\site-packages\pandas\core\groupby\generic.py:1315: FutureWarning: using a dict with renaming is deprecated and will be removed in a future version
  return super(DataFrameGroupBy, self).aggregate(arg, *args, **kwargs)

             Fare                                       Age                  \
        mean_Fare median_Fare  max_Fare min_Fare median_Age min_Age max_Age
Pclass
1       87.508992     60.0000  512.3292      0.0       39.0    0.92    80.0
2       21.179196     15.0458   73.5000      0.0       29.0    0.67    70.0
3       13.302889      8.0500   69.5500      0.0       24.0    0.17    74.0


       range_Age
Pclass
1          79.08
2          69.33
3          73.83

In [51]:
df.groupby(['Pclass','Embarked']).Fare.median()

Pclass  Embarked
1       C           76.7292
        Q           90.0000
        S           52.0000
2       C           15.3146
        Q           12.3500
        S           15.3750
3       C            7.8958
        Q            7.7500
        S            8.0500
Name: Fare, dtype: float64

## Crosstabs

In [52]:
#crosstab on Sex and Pclass
pd.crosstab(df.Sex,df.Pclass)

Pclass    1    2    3
Sex
female  144  106  216
male    179  171  493

In [53]:
pd.crosstab(df.Sex,df.Pclass).plot(kind='bar');

ImportError: matplotlib is required for plotting.

## Pivots

In [55]:
#pivot table
df.pivot_table(index='Sex',columns='Pclass',values='Age',aggfunc='mean')

Pclass          1          2          3
Sex
female  37.037594  27.499223  22.185329
male    41.029272  30.815380  25.962264

In [56]:
df.groupby(['Sex','Pclass']).Age.mean()

Sex     Pclass
female  1         37.037594
        2         27.499223
        3         22.185329
male    1         41.029272
        2         30.815380
        3         25.962264
Name: Age, dtype: float64

In [57]:
df.groupby(['Sex','Pclass']).Age.mean().unstack()

Pclass          1          2          3
Sex
female  37.037594  27.499223  22.185329
male    41.029272  30.815380  25.962264

## Data Munging:Working with missing values

In [58]:
#use .info() to detect missing values (if any)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1309 entries, 1 to 1309
Data columns (total 11 columns):
Age         1046 non-null float64
Cabin       295 non-null object
Embarked    1307 non-null object
Fare        1308 non-null float64
Name        1309 non-null object
Parch       1309 non-null int64
Pclass      1309 non-null int64
Sex         1309 non-null object
SibSp       1309 non-null int64
Survived    1309 non-null int64
Ticket      1309 non-null object
dtypes: float64(2), int64(4), object(5)
memory usage: 129.2+ KB

## Feature: Embarked

In [59]:
#extract rows with Embarked as null
df[df.Embarked.isnull()]

,Age,Cabin,Embarked,Fare,Name,Parch,Pclass,Sex,SibSp,Survived,Ticket
PassengerId,,,,,,,,,,,
62,38.0,B28,NaN,80.0,"Icard, Miss. Amelie",0,1,female,0,1,113572
830,62.0,B28,NaN,80.0,"Stone, Mrs. George Nelson (Martha Evelyn)",0,1,female,0,1,113572

In [60]:
#how many peoples embarked at different points
df.Embarked.value_counts()

S    914
C    270
Q    123
Name: Embarked, dtype: int64

In [61]:
#which embarked point has highest survival count
pd.crosstab(df[df.Survived!=-888].Survived,df[df.Survived!=-888].Embarked)

Embarked   C   Q    S
Survived
0         75  47  427
1         93  30  217

In [62]:
#impute the missing value with 'S'
#df.loc[df.Embarked.isnull(),'Embarked']='S'
#df.Embarked.fillna('S',inplace=True)

In [63]:
#option 2: explore the fare of each class for each embarked point
df.groupby(['Pclass','Embarked']).Fare.median()

Pclass  Embarked
1       C           76.7292
        Q           90.0000
        S           52.0000
2       C           15.3146
        Q           12.3500
        S           15.3750
3       C            7.8958
        Q            7.7500
        S            8.0500
Name: Fare, dtype: float64

In [64]:
#replace the missing value with 'C'
df.Embarked.fillna('C',inplace=True)

In [65]:
#check if any null value remaining
df[df.Embarked.isnull()]

Empty DataFrame
Columns: [Age, Cabin, Embarked, Fare, Name, Parch, Pclass, Sex, SibSp, Survived, Ticket]
Index: []

In [66]:
#check the info again
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1309 entries, 1 to 1309
Data columns (total 11 columns):
Age         1046 non-null float64
Cabin       295 non-null object
Embarked    1309 non-null object
Fare        1308 non-null float64
Name        1309 non-null object
Parch       1309 non-null int64
Pclass      1309 non-null int64
Sex         1309 non-null object
SibSp       1309 non-null int64
Survived    1309 non-null int64
Ticket      1309 non-null object
dtypes: float64(2), int64(4), object(5)
memory usage: 129.2+ KB

## Feature: Fare

In [67]:
df[df.Fare.isnull()]

,Age,Cabin,Embarked,Fare,Name,Parch,Pclass,Sex,SibSp,Survived,Ticket
PassengerId,,,,,,,,,,,
1044,60.5,NaN,S,NaN,"Storey, Mr. Thomas",0,3,male,0,-888,3701

In [68]:
median_fare=df.loc[(df.Pclass==3)&(df.Embarked=='S'),'Fare'].median()
print(median_fare)

8.05

In [69]:
df.Fare.fillna(median_fare,inplace=True)

In [70]:
#check the info again
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1309 entries, 1 to 1309
Data columns (total 11 columns):
Age         1046 non-null float64
Cabin       295 non-null object
Embarked    1309 non-null object
Fare        1309 non-null float64
Name        1309 non-null object
Parch       1309 non-null int64
Pclass      1309 non-null int64
Sex         1309 non-null object
SibSp       1309 non-null int64
Survived    1309 non-null int64
Ticket      1309 non-null object
dtypes: float64(2), int64(4), object(5)
memory usage: 129.2+ KB

## Feature : Age

In [71]:
pd.options.display.max_rows=15

In [72]:
#return null rows
df[df.Age.isnull()]

,Age,Cabin,Embarked,Fare,Name,Parch,Pclass,Sex,SibSp,Survived,Ticket
PassengerId,,,,,,,,,,,
6,NaN,NaN,Q,8.4583,"Moran, Mr. James",0,3,male,0,0,330877
18,NaN,NaN,S,13.0000,"Williams, Mr. Charles Eugene",0,2,male,0,1,244373
20,NaN,NaN,C,7.2250,"Masselmani, Mrs. Fatima",0,3,female,0,1,2649
27,NaN,NaN,C,7.2250,"Emir, Mr. Farred Chehab",0,3,male,0,0,2631
29,NaN,NaN,Q,7.8792,"O'Dwyer, Miss. Ellen ""Nellie""",0,3,female,0,1,330959
30,NaN,NaN,S,7.8958,"Todoroff, Mr. Lalio",0,3,male,0,0,349216
32,NaN,B78,C,146.5208,"Spencer, Mrs. William Augustus (Marie Eugenie)",0,1,female,1,1,PC 17569
...,...,...,...,...,...,...,...,...,...,...,...
1274,NaN,NaN,S,14.5000,"Risien, Mrs. Samuel (Emma)",0,3,female,0,-888,364498
1276,NaN,NaN,S,12.8750,"Wheeler, Mr. Edwin Frederick""""",0,2,male,0,-888,SC/PARIS 2159
1300,NaN,NaN,Q,7.7208,"Riordan, Miss. Johanna Hannah""""",0,3,female,0,-888,334915
1302,NaN,NaN,Q,7.7500,"Naughton, Miss. Hannah",0,3,female,0,-888,365237
1305,NaN,NaN,S,8.0500,"Spector, Mr. Woolf",0,3,male,0,-888,A.5. 3236
1308,NaN,NaN,S,8.0500,"Ware, Mr. Frederick",0,3,male,0,-888,359309
1309,NaN,NaN,C,22.3583,"Peter, Master. Michael J",1,3,male,1,-888,2668

## Option 1 : replace all missing age with mean value

In [73]:
df.Age.plot(kind='hist',bins=20,color='c');

ModuleNotFoundError: No module named 'matplotlib'

In [74]:
#get mean
df.Age.mean()

29.881137667304014

### issue: due to high values of 70's and 80's pushing the overall mean

In [75]:
#replace the missing values
#df.Age.fillna(df.Age.mean(),inplace=True)

## Option 2 : replace with median age of gender

In [76]:
#median value
df.groupby('Sex').Age.median()

Sex
female    27.0
male      28.0
Name: Age, dtype: float64

In [77]:
#visualize using boxplot
df[df.Age.notnull()].boxplot('Age','Sex')

ModuleNotFoundError: No module named 'matplotlib'

In [78]:
#replace
#age_sex_median=df.groupby('Sex').Age.transform('median')
#df.Age.fillna(age_sex_median,inplace=True)

## Option 3 : replace with median age of Pclass

In [79]:
df[df.Age.notnull()].boxplot('Age','Pclass')

ModuleNotFoundError: No module named 'matplotlib'

In [80]:
#replace
#pclass_age_median=df.groupby('Pclass').Age.transform('median')
#df.Age.fillna(pclass_age_median,inplace=True)

## Option 4 : replace with median age of title

In [81]:
df.Name

PassengerId
1                                 Braund, Mr. Owen Harris
2       Cumings, Mrs. John Bradley (Florence Briggs Th...
3                                  Heikkinen, Miss. Laina
4            Futrelle, Mrs. Jacques Heath (Lily May Peel)
5                                Allen, Mr. William Henry
6                                        Moran, Mr. James
7                                 McCarthy, Mr. Timothy J
                              ...
1303      Minahan, Mrs. William Edward (Lillian E Thorpe)
1304                       Henriksson, Miss. Jenny Lovisa
1305                                   Spector, Mr. Woolf
1306                         Oliva y Ocana, Dona. Fermina
1307                         Saether, Mr. Simon Sivertsen
1308                                  Ware, Mr. Frederick
1309                             Peter, Master. Michael J
Name: Name, Length: 1309, dtype: object

In [82]:
# Function to extract the title from the name
def GetTitle(name):
    first_name_with_title=name.split(',')[1]
    title=first_name_with_title.split('.')[0]
    title=title.strip().lower()
    return title

In [83]:
#use map function to apply the function on each Name value row
df.Name.map(lambda x:GetTitle(x))#alternatively we can use df.Name.map(GetTitle)

PassengerId
1           mr
2          mrs
3         miss
4          mrs
5           mr
6           mr
7           mr
         ...
1303       mrs
1304      miss
1305        mr
1306      dona
1307        mr
1308        mr
1309    master
Name: Name, Length: 1309, dtype: object

In [84]:
df.Name.map(lambda x:GetTitle(x)).unique()

array(['mr', 'mrs', 'miss', 'master', 'don', 'rev', 'dr', 'mme', 'ms',
       'major', 'lady', 'sir', 'mlle', 'col', 'capt', 'the countess',
       'jonkheer', 'dona'], dtype=object)

In [85]:
# Function to extract the title from the name
def GetTitle(name):
    title_group={
        'mr':'Mr', 
        'mrs':'Mrs', 
        'miss':'Miss', 
        'master':'Master', 
        'don':'Sir', 
        'rev':'Sir', 
        'dr':'Officer', 
        'mme':'Mrs', 
        'ms':'Mrs',
        'major':'Officer', 
        'lady':'Lady', 
        'sir':'Sir', 
        'mlle':'Miss', 
        'col':'Officer', 
        'capt':'Officer', 
        'the countess':'Lady',
        'jonkheer':'Sir', 
        'dona':'Lady'
    }
    first_name_with_title=name.split(',')[1]
    title=first_name_with_title.split('.')[0]
    title=title.strip().lower()
    return title_group[title]

In [86]:
#Create Title feature
df['Title']=df.Name.map(GetTitle)

In [87]:
#head
df.head()

,Age,Cabin,Embarked,Fare,Name,Parch,Pclass,Sex,SibSp,Survived,Ticket,Title
PassengerId,,,,,,,,,,,,
1,22.0,NaN,S,7.2500,"Braund, Mr. Owen Harris",0,3,male,1,0,A/5 21171,Mr
2,38.0,C85,C,71.2833,"Cumings, Mrs. John Bradley (Florence Briggs Th...",0,1,female,1,1,PC 17599,Mrs
3,26.0,NaN,S,7.9250,"Heikkinen, Miss. Laina",0,3,female,0,1,STON/O2. 3101282,Miss
4,35.0,C123,S,53.1000,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",0,1,female,1,1,113803,Mrs
5,35.0,NaN,S,8.0500,"Allen, Mr. William Henry",0,3,male,0,0,373450,Mr

In [88]:
# Box plot of Age with title
df[df.Age.notnull()].boxplot('Age','Title')

ModuleNotFoundError: No module named 'matplotlib'

In [89]:
#replace missing values
title_age_median=df.groupby('Title').Age.transform('median')
df.Age.fillna(title_age_median,inplace=True)

In [90]:
#check the info again
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1309 entries, 1 to 1309
Data columns (total 12 columns):
Age         1309 non-null float64
Cabin       295 non-null object
Embarked    1309 non-null object
Fare        1309 non-null float64
Name        1309 non-null object
Parch       1309 non-null int64
Pclass      1309 non-null int64
Sex         1309 non-null object
SibSp       1309 non-null int64
Survived    1309 non-null int64
Ticket      1309 non-null object
Title       1309 non-null object
dtypes: float64(2), int64(4), object(6)
memory usage: 134.3+ KB

## Working with outliers

### Age

In [91]:
#use histogram to understand the distribution
df.Age.plot(kind='hist',bins=20,color='c');

ModuleNotFoundError: No module named 'matplotlib'

In [ ]:
df.loc[df.Age>70]

### Fare

In [ ]:
#histogram for fare
df.Fare.plot(kind='hist',title='histogram for Fare',bins=20,color='c');

In [ ]:
#box plot to identify outliers
df.Fare.plot(kind='box')

In [ ]:
#look into the outliers
df.loc[df.Fare==df.Fare.max()]

In [ ]:
#Try some transformations to reduce the skewness
LogFare=np.log(df.Fare+1.0)#Adding 1 to accomodate zero fares: log(0) is not defined

In [ ]:
#histogram for Logfare
LogFare.plot(kind='hist',bins=20,color='c');

In [ ]:
#binning
pd.qcut(df.Fare,4)

In [ ]:
pd.qcut(df.Fare,4,labels=['very_low','low','high','very_high'])#discretization

In [ ]:
pd.qcut(df.Fare,4,labels=['very_low','low','high','very_high']).value_counts().plot(kind='bar',color='c',rot=0);

In [ ]:
#create fare bin feature
df['Fare_Bin']=pd.qcut(df.Fare,4,labels=['very_low','low','high','very_high'])

## Feature Engineering

### Feature : Age State (Adult or Child)

In [ ]:
#AgeState based on Age
df['AgeState']=np.where(df['Age']>=18,'Adult','Child')

In [ ]:
#AgeState Counts
df['AgeState'].value_counts()

In [ ]:
#cross tab
pd.crosstab(df[df.Survived!=-888].Survived,df[df.Survived!=-888].AgeState)

### Feature : FamilySize

In [ ]:
# Family : Adding Parents with Siblings
df['FamilySize']=df.Parch+df.SibSp+1# 1 for self

In [ ]:
#Explore the family feature
df['FamilySize'].plot(kind='hist',color='c');

In [ ]:
#Further explore this family with max family members
df.loc[df.FamilySize==df.FamilySize.max()]

In [ ]:
pd.crosstab(df[df.Survived!=-888].Survived,df[df.Survived!=-888].FamilySize)

### Feature : IsMother

In [ ]:
#a lady aged more than 18 who has Parch>0 and is married (not miss)
df['IsMother']=np.where(((df.Sex=='female')&(df.Parch>0)&(df.Age>18)&(df.Title!='Miss')),1,0)

In [ ]:
#crosstab with IsMother
pd.crosstab(df[df.Survived!=-888].Survived,df[df.Survived!=-888].IsMother)

## Deck

In [ ]:
#explore Cabin values
df.Cabin

In [ ]:
#use unique to get unique values for cabin feature
df.Cabin.unique()

In [ ]:
#look at the cabin=T
df.loc[df.Cabin=='T']

In [ ]:
#set the value to NaN
df.loc[df.Cabin=='T','Cabin']=np.NaN

In [ ]:
#look at the unique value of cabin again
df.Cabin.unique()

In [ ]:
#extract first character of cabin string to the deck
def get_deck(cabin):
    return np.where(pd.notnull(cabin),str(cabin)[0].upper(),'Z')
df['Deck']=df['Cabin'].map(lambda x:get_deck(x))

In [ ]:
#check counts
df.Deck.value_counts()

In [ ]:
#use crosstab to look into survived feature cabin value
pd.crosstab(df[df.Survived!=-888].Survived,df[df.Survived!=-888].Deck)

In [ ]:
#info command
df.info()

## Categorical Faeture Encoding

In [ ]:
#Sex
df['IsMale']=np.where(df.Sex=='male',1,0)

In [ ]:
#columns Deck,Pclass,Title,AgeState
df=pd.get_dummies(df,columns=['Deck','Pclass','Title','Fare_Bin','Embarked','AgeState'])

In [ ]:
print(df.info())

## Drop and Reorder Columns

In [ ]:
#drop columns
df.drop(['Cabin','Name','Ticket','Parch','SibSp','Sex'],axis=1,inplace=True)

In [ ]:
#reorder columns
columns=[column for column in df.columns if column!='Survived']
columns=['Survived']+columns
df=df[columns]

In [ ]:
#check the info again
df.info()

## Save Processed Data

In [ ]:
processed_data_path=os.path.join(os.path.pardir,'data','processed')
write_train_path=os.path.join(processed_data_path,'train.csv')
write_test_path=os.path.join(processed_data_path,'test.csv')

In [ ]:
#train data
df.loc[df.Survived!=-888].to_csv(write_train_path)
#test data
columns=[column for column in df.columns if column!='Survived']
df.loc[df.Survived==-888,columns].to_csv(write_test_path)

## Building the data processing script

In [11]:
get_processed_data_script_file=os.path.join(os.path.pardir,'src','data','get_processed_data.py')

NameError: name 'os' is not defined

In [16]:
%%writefile $get_processed_data_script_file
#coding utf-8
import pandas as pd
import numpy as np
import os

def read_data():
    #set the path of the raw data
    raw_data_path=os.path.join(os.path.pardir,'data','raw')
    train_file_path=os.path.join(raw_data_path,'train.csv')
    test_file_path=os.path.join(raw_data_path,'test.csv')
    #read the data with all parameters
    train_df=pd.read_csv(train_file_path,index_col='PassengerId')
    test_df=pd.read_csv(test_file_path,index_col='PassengerId')
    test_df['Survived']=-888#Adding survived with a default value
    df=pd.concat((train_df,test_df),axis=0)
    return df
                 
def process_data(df):
    #using the method chaining concept
    return(df
          #Create title attribute - the add this
          .assign(Title=lambda x: x.Name.map(get_title))
          #working missing values - start with this
          .pipe(fill_missing_values)
          #create fare bin feature
          .assign(Fare_Bin=lambda x: pd.qcut(x.Fare,4,labels=['very_low','low','high','very_high']))
          #create age state feature
          .assign(AgeState=lambda x: np.where(x.Age>=18,'Adult','Child'))
          #create family size feature
          .assign(FamilySize=lambda x: x.Parch+x.SibSp+1)
          #create ismother feature
          .assign(IsMother=lambda x: np.where(((x.Sex=='female')&(x.Parch>0)&(x.Age>18)&(x.Title!='Miss')),1,0))
          #create deck feature
          .assign(Cabin=lambda x: np.where(x.Cabin=='T',np.nan,x.Cabin))
          .assign(Deck=lambda x:x.Cabin.map(get_deck))
          #feature encoding
          .assign(IsMale=lambda x:np.where(x.Sex=='male',1,0))
          .pipe(pd.get_dummies,columns=['Deck','Pclass','Title','Fare_Bin','Embarked','AgeState'])
          #Add code to drop unneccesary columns
          .drop(['Cabin','Name','Ticket','Parch','SibSp','Sex'],axis=1)
          #reorder columns
          .pipe(reorder_columns)
          )
                 
                 
# Function to extract the title from the name
def get_title(name):
    title_group={
        'mr':'Mr', 
        'mrs':'Mrs', 
        'miss':'Miss', 
        'master':'Master', 
        'don':'Sir', 
        'rev':'Sir', 
        'dr':'Officer', 
        'mme':'Mrs', 
        'ms':'Mrs',
        'major':'Officer', 
        'lady':'Lady', 
        'sir':'Sir', 
        'mlle':'Miss', 
        'col':'Officer', 
        'capt':'Officer', 
        'the countess':'Lady',
        'jonkheer':'Sir', 
        'dona':'Lady'
    }
    first_name_with_title=name.split(',')[1]
    title=first_name_with_title.split('.')[0]
    title=title.strip().lower()
    return title_group[title]
                 
#extract first character of cabin string to the deck
def get_deck(cabin):
    return np.where(pd.notnull(cabin),str(cabin)[0].upper(),'Z')
                 
def fill_missing_values(df):
    #embarked
    #replace the missing value with 'C'
    df.Embarked.fillna('C',inplace=True)
    #fare
    median_fare=df.loc[(df.Pclass==3)&(df.Embarked=='S'),'Fare'].median()
    df.Fare.fillna(median_fare,inplace=True)
    #age
    #replace missing values
    title_age_median=df.groupby('Title').Age.transform('median')
    df.Age.fillna(title_age_median,inplace=True)
    return df
                 
def reorder_columns(df):
    columns=[column for column in df.columns if column!='Survived']
    columns=['Survived']+columns
    df=df[columns]
    return df 
                 
def write_data(df):
    processed_data_path=os.path.join(os.path.pardir,'data','processed')
    write_train_path=os.path.join(processed_data_path,'train.csv')
    write_test_path=os.path.join(processed_data_path,'test.csv')
    #train data
    df.loc[df.Survived!=-888].to_csv(write_train_path)
    #test data
    columns=[column for column in df.columns if column!='Survived']
    df.loc[df.Survived==-888,columns].to_csv(write_test_path)
    
if __name__=='__main__':
    df=read_data()
    df=process_data(df)
    write_data(df)

Overwriting $get_processed_data_script_file

In [14]:
!python $get_processed_data_script_file

$get_processed_data_script_file:15: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  df=pd.concat((train_df,test_df),axis=0)

In [17]:
train_df=pd.read_csv(write_train_path)
train_df.info()

NameError: name 'pd' is not defined

In [ ]:
test_df=pd.read_csv(write_test_path)
test_df.info()

In [23]:
import matplotlib.pyplot as plt
%matplotlib inline

ModuleNotFoundError: No module named 'matplotlib'

In [24]:
plt.hist(df.Age)

NameError: name 'plt' is not defined

In [25]:
plt.hist(df.Age,bins=20,color='c')
plt.show()

NameError: name 'plt' is not defined

In [26]:
plt.hist(df.Age,bins=20,color='c')
plt.title('Histogram : Age')
plt.xlabel('Bins')
plt.ylabel('Counts')
plt.show()

NameError: name 'plt' is not defined

In [27]:
f,ax=plt.subplots()
ax.hist(df.Age,bins=20,color='c')
ax.set_title('Histogram : Age')
ax.set_xlabel('Bins')
ax.set_ylabel('Counts')
plt.show()

NameError: name 'plt' is not defined

In [28]:
#Add subplots
f,(ax1,ax2)=plt.subplots(1,2,figsize=(14,3))

ax1.hist(df.Fare,bins=20,color='c')
ax1.set_title('Histogram : Fare')
ax1.set_xlabel('Bins')
ax1.set_ylabel('Counts')

ax2.hist(df.Age,bins=20,color='tomato')
ax2.set_title('Histogram : Age')
ax2.set_xlabel('Bins')
ax2.set_ylabel('Counts')

plt.show()

NameError: name 'plt' is not defined

In [ ]:
#Adding subplots
f,ax_arr=plt.subplots(3,2,figsize=(14,7))

#Plot 1
ax_arr[0,0].hist(df.Fare,bins=20,color='c')
ax_arr[0,0].set_title('Histogram : Fare')
ax_arr[0,0].set_xlabel('Bins')
ax_arr[0,0].set_ylabel('Counts')

#Plot 2
ax_arr[0,1].hist(df.Age,bins=20,color='tomato')
ax_arr[0,1].set_title('Histogram : Age')
ax_arr[0,1].set_xlabel('Bins')
ax_arr[0,1].set_ylabel('Counts')

#Plot 3
ax_arr[1,0].boxplot(df.Fare.values)
ax_arr[1,0].set_title('Boxplot : Fare')
ax_arr[1,0].set_xlabel('Fare')
ax_arr[1,0].set_ylabel('Fare')

#Plot 4
ax_arr[1,1].boxplot(df.Age.values)
ax_arr[1,1].set_title('Boxplot : Age')
ax_arr[1,1].set_xlabel('Age')
ax_arr[1,1].set_ylabel('Age')

#Plot 5
ax_arr[2,0].scatter(df.Age,df.Fare,color='c',alpha=0.15)
ax_arr[2,0].set_title('Sactter Plot : Age vs Fare')
ax_arr[2,0].set_xlabel('Age')
ax_arr[2,0].set_ylabel('Fare')

ax_arr[2,1].axis('off')
plt.tight_layout()

plt.show()